.header {
    padding: 56px 0;
    .container {
        display: flex;
        align-items: center;
    }

    ul {
        margin-left: auto;
        display: flex;
    }
    li {
        margin-right: 20px;
        &:last-of-type {
            margin-right: 0;
            a {
                padding-right: 0;
            }
        }

        a {
            font-weight: 700;
            font-size: 18px;
            color: rgba(31,21,52,.5);
            display: inline-block;
            padding: 5px 10px;
            &:hover {
                color: rgba(31,21,52,1);
            }
        }
    }
}