.container-fluid {
    padding-left: $gutter;
    padding-right: $gutter;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
}

.container-sm {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
}