.button {
    display: inline-block;
    background: $brand-color;
    border-radius: 55px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 20px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border: 2px solid $brand-color;
    &:hover {
        background: #FFF;
        color: $brand-color;
    }
    
    &.secondary {
        background: #FFF;
        color: $brand-color;
        &:hover {
            background: $brand-color;
            color: #FFF;
        }
    }
}