.cards {
    > div {
        margin-top: 35px;
    }
}

.card {
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 45px 25px;
    height: 100%;
    display: block;
    color: #000;
    border: 5px solid transparent;
    &:hover {
        border: 5px solid $brand-color;
    }
    &-icon {
        height: 90px;
    }
    &-title {
        font-size: 24px;
        font-weight: 700;
        margin-top: 25px;
    }
    &-description {
        font-size: 16px;
        color: $text-muted;
        margin-top: 15px;
        line-height: $leading-relaxed;
    }
}