// Layout
$xs:  475px;
$sm:  640px;
$md:  768px;
$lg:  1024px;
$xl:  1280px;
$xxl: 1536px;

$container: 1250px;
$container-sm: 1120px;

$gutter: 15px;

// Colors
$brand-color: #458FF6;
$text-color: #000;
$text-muted: #7D7987;

$box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

// Typography
$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;
